.c-sharepop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(tablet) {
        align-items: flex-end;
    }
    .closeicon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #666;
        top: 10px;
        right: 10px;
        position: absolute;
        font-size: 20px;
        line-height: 40px;
        color: #ccc;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        @include breakpoint(tablet) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: -30px;
        }
    }
    .share-con {
        width: 90%;
        max-width: 500px;
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        @include breakpoint(tablet) {
            padding: 50px 20px;
            border: 0px;
            width: 100%;
            border-radius: 0;
            flex-direction: column;
            align-items: center;
        }
    }
    ul {
        display: flex;
        column-gap: 20px;
        justify-content: center;
    }
}
