.p-gallary{

    @include breakpoint(mobileonly){
    //    padding: 30px 0;
        padding-top: 35px;
    }
    .container{

        .slick-slider{
           
    
                .slick-dots{

                    button:before{
                        // width: 20px;
                        // height: 20px;
                        opacity: 1;
                        font-size: 14px;
                        color: #072c50;
                    }
                
                    li.slick-active button:before{
                        opacity: 1;
                        // color: #072c50;
                        color: #fe6f06;
                        
                        // #fe6f06
                      
                        &::after{
                          
                        }
                    }
                }
               
        }

        .sickslider{
            border: 2px solid #ccc;
            box-sizing: border-box;
            img{
                width: 100%;
                
                
            }
       
            @include breakpoint(mobileonly){
                width: 100%;
            }

           
        //     display: flex;
        //     // flex-direction: row;
        //     column-gap: 30px;

            // img{
            //     width: 100%;
            // }
        //     // li{
        //     //     // display: flex;
        //     //     column-gap: 30px;
            }
        .umeet-main{
            
            
            li{
                width: 100%;
                display: flex;
                column-gap: 20px;
               

                @include breakpoint(mobileonly){
                    flex-direction: column;
                    row-gap: 10px;
                   

                }
                .umeet-img{
                   
                    @include breakpoint (mobileonly){
                        display: flex;
                         width: 100%;
                    }

                    img{
                        width: 100%;
                    }
              
                        
                }
            }
        }
        // }

     
    }
    
}

